:root{
    --primary-color: #2F98E7;
    --secondary-color: #FFFFFF;
    --link-color: #0079C5;
    --darker: #005BA3;
    --red: #AC0202;
    --highlight-text: #004083;
	--placeholder-text:#002664;
}
@font-face {
  font-family: 'Avenir-Next Regular';
  src: url('fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-Next Bold';
  src: url('fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir-Next Italic';
  src: url('fonts/AvenirNextLTPro-It.otf') format('opentype');
}

body {
  font-family: 'Avenir-Next Regular', sans-serif;
}


body{
    background-color: var(--secondary-color);
}

header{
    display: flex;
    top: 0.5%;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    margin-left: -7.5px;
    width: 100vw;
    margin-bottom: 45px;
}

.header-logo{
    width: 60px;
	height: 60px;
	margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

footer{
    background-color: var(--darker);
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100vw;
    height: 87px;
    display: grid;
    margin-left: -7.5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    border-top: 1.5px solid var(--placeholder-text);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 4px 0px, rgba(60, 64, 67, 0.15) 0px 4px 9px 4px;
}

.footer-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px
}

.footer-btn p{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Jappokki', sans-serif;
    font-size: 12px;
    margin-top: 6px;
    align-self: center;
    justify-self: center;
    color: var(--secondary-color)
}


.footer-btn .material-symbols-rounded{
    margin-right: auto;
    margin-left: auto;
    color: var(--secondary-color);
    font-size: 42px;
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

.footer-btn .material-symbols-sharp{
    margin-right: auto;
    margin-left: auto;
    color: var(--secondary-color);
    font-size: 42px;
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

#make-simple-pred-btn{
    display: none;
}

.main-container{
    margin-bottom: 300px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

#data-visualizations{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 400px);
    grid-row-gap: 40px;
}


.main-section{
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 210px;
}
.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 70%;
    border-radius: 16px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"]{
    width: 150px;
    height: 45px;
    border-radius: 6px;
    padding-left: 10px;
    border: none;
    box-shadow: rgb(47, 152, 231) 3px 3px 6px 0px inset, rgba(47, 152, 231, 0.25) -3px -3px 6px 1px inset;   
}

select{
    border: none;
    border-radius: 6px;
    width: 200px;
    height: 45px;
    padding-left: 10px;
    box-shadow: rgb(47, 152, 231) 3px 3px 6px 0px inset, rgba(47, 152, 231, 0.25) -3px -3px 6px 1px inset;
}

.ticker-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-items: center;
}

.capm-breakdown{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 30px;
}
.add-ticker-div{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
button{
    cursor: pointer;
}

.add-ticker{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    text-align: center;
    padding-top: 10px;
    color: var(--secondary-color);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 2px 4px;
}
.benchmark-div{
    margin-bottom: 30px;
    margin-top: 30px;
}

.add-ticker .material-symbols-rounded{
    margin-right: auto;
    margin-left: auto;
    color: var(--secondary-color);
    font-size: 42px;
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}

.search-companies-btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 150px;
    height: 45px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
}

.optimize-portfolio-div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.optimize-btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 300px;
    height: 60px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
}

.save-financial-data-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.save-data-btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 200px;
    height: 50px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
}

.visualize-data-btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 200px;
    height: 50px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
}

.create-model-btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 200px;
    height: 45px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
}

.data-charts-portfolio{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 120px;
}

.prediction-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-items: center;
}

.prediction-data input[type="number"]{
    width: 150px;
    height: 45px;
    border-radius: 6px;
    padding-left: 10px;
    border: none;
    box-shadow: rgb(47, 152, 231) 3px 3px 6px 0px inset, rgba(47, 152, 231, 0.25) -3px -3px 6px 1px inset;   
}

#make-simple-pred-btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 200px;
    height: 45px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: none;
}

.VaR-share-counts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-items: center;
}

.VaR-share-counts input[type="number"]{
    width: 150px;
    height: 45px;
    border-radius: 6px;
    padding-left: 10px;
    border: none;
    box-shadow: rgb(47, 152, 231) 3px 3px 6px 0px inset, rgba(47, 152, 231, 0.25) -3px -3px 6px 1px inset;   
}

#monte-chart-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

#VaR-btn-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto
}

#monte-carlo-percentiles{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto
}

.loading-screen{
    position: fixed;
    left: 0;
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.main{
    display: none;
}

.loading-screen svg{
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 210px;
}

#mySvg{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 210px;
}
